<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Earthquake Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body style="background-color: #1a1a1a ;" style="font: 20px verlag-book, san-serif;">

    <div class="topnav-centered">
        <a class="Logo" href="index_final.html" class="active">
         <img src="https://lh3.googleusercontent.com/RxFF6QpRWCZS6DwLJVS5mp-FMH9tbCobgSJY1uDGst5thfbO7n9ta5P3QdT8cx2DEXrcoYan1RHaIen8zMTZSkVF73oazWfMksvZ7OnJDJBL9OmyRI-zpBrLc0VSfgUtUAR4Z9Fg16NlhZXOY2Gu_VOURg67aJXT3OfMq0W2dc6ez1Bnakihb4nlR4jUD9fPqgYSKoVi0YxTuNB0gEEsJm_b0yNRILK-5Jtu7aHViof_45hM1USM0MlfYPnkm3T-Da00L3ZnAnYN2812EfhKIubhwNZa3EYBDkSl0j5EjJ0b03SXIgrevZ8W2fWXXU3cmbQmB6ItJlPHn9QfDElJYVsq4vmvu_ZnbJqEWrigOzK-NYpZcyNCHW9LsGxrV14igvyCa2VqBCdq5F_sa7AuA6HeolBRKI1NRvtDuiUVnyqzAmctmkMr_BZNRf_x54eVryfzOGGmNuyWRFVtpa8weAXn6siQxZsEkJfWI809iw4e4bS610mJY_-wDXMVwQQ9uxbyS1aUntS5ticeAkwHarxWYLCvKvd5-BW46zjOBkJ0VVYmnYzI6wHFO7dvOa7X16bN9jjMvhLcN200ZCE7MsdkHyOaVigdBqCMXese4hM5a5w2IQJP8Fxz9aXf0cY6UYpLh03hAzq9wf_9cRrs3XALhvM9e5n9OG7uMb-2e9G-qzugJcXrMiQ=w328-h165-no" class="logo" width="100" height="50" alt="centered image" class="active">
        </a>
      </div> 

    <h1>About</h1>
    <div class="col-md-12">
        <h2>Meet the Team</h2>
      <p>Here is where we introduce our group; Data Lake and talk about our mission </p>
    </div class="col-md-12">
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="img1.jpg" alt="Mike" style="width:100%">
            <div class="container">
              <h2>Mike</h2>
              <p class="title">CEO &amp; Founder</p>
              <p>Some text that describes the work you did on the project.</p>
              <p>example@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
    
      <!-- Meet the Team section  -->
        <div class="column">
          <div class="card">
            <img src="img2.jpg" alt="Gene" style="width:100%">
            <div class="container">
              <h2>Gene </h2>
              <p class="title">Art Director</p>
              <p>Some text that describes the work you did on the project.</p>
              <p>example@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <!-- Lydia -->
        <div class="column">
          <div class="card">
            <img src="Lydia" alt="John" style="width:100%">
            <div class="container">
              <h2>Lydi-Ly</h2>
              <p class="title">Designer</p>
              <p>Web page development and design.</p>
              <p>http://saintsamuelsstudio.com</p>
              <p>Saintsamuelstudio@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    <div>
      <h2>Mission</h2>
    </div>
    
        <div class="row">

                <div class="col-md-12 pad top"> <br>
        
                  <div class="logo">
                      <!-- <img src="" width="400" height="200"> -->
                  </div>
        
                  <div class="text-left">
                    <p> The purpose of this project was to analyze how Earthquakes affects us.  To accomplish this analysis, we first pulled data from numerous sources
                        such as the US Geological Survey, news sites around the world and a 24 year trove of earthquake activity. </p> <br>
                    <p> After assembling the dataset, D3 and Leaflet was used to plot earthquakes worldwide with infrastructure and hazardous correlation layers. This has the added 
                        benefit of functionality to animate all fourty four years of timeline.
                        All fourty four years of worldwide earthquake data is searchable to vistors of the website. 
                        Additionally, some of the most popular earthquake information is web scrapable upon demand by user with the click of a button.
                        Future interations of this website will include machine learning data which will try to predict future earthquakes based
                        upon previous earthquake data. </p>
                    </div>
        
                </div>
</body>