<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Earthquake Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/">Earthquakes</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Earthquake News<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('news1') }}">Earthquakes News Scrape</a></li>
                <li><a href="{{ url_for('news2r') }}">Earthquakes Two</a></li>
                <li><a href="{{ url_for('news3r') }}">Earthquake News in South America</a></li>
                <li><a href="{{ url_for('news4r') }}">Earthquake News Worldwide</a></li>
                <!-- <li><a href="News5.html">Earthquake Test Bed</a></li>  -->
            </ul>
          </li>
          <li><a href="{{ url_for('maps1') }}">Earthquake Map</a></li>
          <li><a href="{{ url_for('pics1') }}">Earthquake Pictures</a></li>
          <li><a href="{{ url_for('data1') }}">Earthquake Data</a></li>
          
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Creates the Overall Grid -->
  <div class="container">

      <h1>Earthquake Data Filtering</h1>
      <!-- <p>What's the frequency, Kenneth? The Truth is Out There</p> -->
    </div>
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search</div>
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <li class="filter list-group-item">
                        <label for="DateTime">Enter a Date</label>
                        <input class="form-control" id="DateTime" type="text" placeholder="ex: 1/11/2011">
                      </li>
					  <li class="filter list-group-item">
                        <label for="EventID">Enter an Event ID</label>
                        <input class="form-control" id="EventID" type="text" placeholder="ex: 1970010640.0">
                      </li>
					  <li class="filter list-group-item">
                        <label for="Depth">Enter a Depth</label>
                        <input class="form-control" id="Depth" type="text" placeholder="ex: 80.0">
                      </li>
					  <li class="filter list-group-item">
                        <label for="Magnitude">Enter a Magnitude</label>
                        <input class="form-control" id="Magnitude" type="text" placeholder="ex: 6.1">
                      </li>
					  <li class="filter list-group-item">
                        <label for="NbStations">Enter a NB Station</label>
                        <input class="form-control" id="NbStations" type="text" placeholder="ex: 199">
                      </li>
                    </ul>
                  </div>
                  <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
				  <button id="reset-btn" type="button" class="btn btn-default" onclick="window.location.reload()" >Reset Table</button>

                </form>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-10">
          <div id="table-area" class="">
            <table id="ufo-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Date</th>
                  <th class="table-head">Latitude</th>
                  <th class="table-head">Longitude</th>
                  <th class="table-head">Depth</th>
                  <th class="table-head">Magnitude</th>
                  <th class="table-head">MagType</th>
                  <th class="table-head">NbStations</th>
                  <th class="table-head">Gap</th>
                  <th class="table-head">Distance</th>
                  <th class="table-head">RMS</th>
                  <th class="table-head">Source</th>
                  <th class="table-head">EventID</th>
                  
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <span class="bottom">Earthquake Filter</span>
    </footer> 
  </div>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="static/js/data.js"></script>
  <script src="static/js/app.js"></script>

  <script>
      function resetForm() {
        document.getElementById("myForm").reset();
      }
    </script>

  </html>
