<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Earthquake Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename= './css/style.css') }}">
</head>

<body>
  <nav class="navbar navbar-default" style="background-color:#1a1a1a;">
    <div>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <!-- <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> -->
      </button>
        <a style="color:	white; font: 28px verlag-book, san-serif; " class="navbar-brand" href="/">Earthquakes</a>
      </div>
<!-- Add a logo -->
    <!-- Trying to cneter logo not working -->
      <div class="topnav-centered">
        <a class="Logo" href="/" class="active">
         <img src="/static/Photos/Logo1.png" class="logo" width="100" height="50" alt="centered image" class="active" align-content: center>
        </a>
      </div> 
        <div>
            <div>
                <!-- <h1 class="Title">Natural Disasters</h1> -->       
        <img src="/static/Photos/homepphotos.jpg"width="1270" height="400" alt="centered image">
    
      
			<title>Natural Disasters - National Geographic</title>
        
    </div>
    <!-- This is where we create a mid-page navbar -->
                               </div>
  <!-- Creates the Overall Grid -->
  <div class="col-md-12" style="background-color: #1a1a1a;" style="color:	white; font: 28px verlag-book, san-serif; " >
 <div>
            <div> 
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav background-color= #">
          <li class="dropdown" style="color:	white; font: 20px verlag-book, san-serif; " >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Earthquake News<span class="caret"></span></a>
            <ul class="dropdown-menu" >
                <li style="color:	white;"> <a href="{{ url_for('news1') }}">Earthquakes News in Americas</a></li>
                <li> <a href="News2.html">Earthquakes News in Asia</a></li>
               
            </ul>
            <li><a href="{{url_for('maps')}}">Earthquake Map</a></li>
         <li><a href="{{url_for('about')}}">Earthquake About</a></li>
         <li><a href="{{url_for('data')}}">Earthquake Data</a></li>
          </li>
          
        </ul>
      </div>
    <div class="row">

        <div class="col-md-6 pad top" > <br>
          <h3 style="color:	white; font: 28px verlag-book, san-serif; " >Natural Disasters:
             Earthquakes</h3> <br>
        </div>       
      </div>
  <!-- Media section -->
 <!-- Test -->
 <head>
  <link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>
  <style>
  body {
   font-family: 'Allerta Stencil';font-size: 22px;
  }
  </style>
  </head>
  <body>
    <!-- Test -->
        <div> 
            
            <h2 style="color:	white; font-family='Allerta Stencil' 50px ; text-align: center; align-content: center;; ">Earthquake MEDIA </h3> <br>
        </div>
   </body>    
  </body>  
        <div class="row_hp">
          <div class="column_hp">
              <!-- image 1 Myths about earthquakes and in to myth site -->
                    <a href="http://uraha.de/de/?p=390&lang=en">
                      <img src="https://www.bgs.ac.uk/discoveringGeology/hazards/earthquakes/images/restlessGods.jpg" alt="Pictures of Earthquakes"width="375" height="343"></a>
                                                              <!-- image 2 EQ Stats & link  -->
                  <a href="https://worldwidewanderings.net/blog/2019/01/06/latest-update-on-earthquake-statistics/">
                    <img src="http://worldwidewanderings.net/blog/wp-content/uploads/2019/01/Earthquakes.png" alt="Mapping of Earthquakes" width="375" height="343"></a>
                    <img src="/static/Photos/equakes_photo_abouts_page.png"width="375" height="343">
          </div>
                  </div>
                   <div class= "column_hp">
          <a href="/static/Photos/earthquakes-latest.jpg"><img src="https://img.volcanodiscovery.com/maps/earthquakes-latest.jpg" alt="Earthquake Data Visualizations" width="375" height="343"></a>
          
          <a href="https://www.dummies.com/education/science/what-are-earthquakes/"><img src="/static/Photos/EQexplained.jpg" alt="Earthquake Data Visualizations" width="375" height="343"></a>
                         
          <!-- Img 5 what to do if caught in an earthquake -->
          <a href="https://www.ready.gov/earthquakes"><img src="https://www.trbimg.com/img-573cd237/turbine/la-1463603886-snap-photo/2000" alt="Earthquake News" width="65%" height="25%"></a>

          <a href= "news3.html"> <iframe width="375" height="343" src="https://www.youtube.com/embed/gH045WGMTAI " frameborder="" allowfullscreen ng-show="showvideo"></iframe>
        </div>
            
            </div>
          </div>
        <!-- </div>

       </div>

       <div class="row_hp">
        
        <div class="column_hp">
          <a href="http://uraha.de/de/?p=390&lang=en"><img src="https://www.bgs.ac.uk/discoveringGeology/hazards/earthquakes/images/restlessGods.jpg" alt="Pictures of Earthquakes" width="375" height="343" style="color: yellow; font: 50px">Myths></a> -->
        </div>
      </div>

    </div>

    

  </div>

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </html>